.venv/
data/raw/*
data/pdf/*
models/bert/*
/clustering_results.csv
/clustering_results_dbscan.csv
static/*
clustering_results.csv
clustering_results_dbscan.csv
static
zero_shot_predictions.csv
embedder.joblib
