<!DOCTYPE html>
<html>
<head>
    <title>Catégories</title>
    <!-- Include DataTables CSS and JS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <a href="{{ url_for('index') }}">Retourner aux résultats</a>
    <h1>Catégories</h1>
    <h2>Nombre d'Emails par Catégorie</h2>
    <img src="{{ url_for('static', filename='emails_per_cluster_reclassified.png') }}" alt="Emails per Cluster">
    <form method="post">
        <table id="clusters-table" class="display">
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Catégorie</th>
                    <th>Renommer</th>
                    <th>Nombre d'Emails</th>
                    <th>Mots-Clés</th>
                </tr>
            </thead>
            <tbody>
                {% for cluster in clusters %}
                <tr>
                    <td>{{ cluster.Cluster_ID }}</td>
                    <td>{{ cluster.Cluster_Name }}</td>
                    <td>
                        <input type="text" name="cluster_{{ cluster.Cluster_ID }}" value="{{ cluster.Cluster_Name }}">
                    </td>
                    <td>{{ cluster.Email_Count }}</td>
                    <td>{{ cluster.Top_Keywords }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Enregistrer les Noms</button>
    </form>
    <script>
        $(document).ready(function() {
            $('#clusters-table').DataTable({
                "paging": true,
                "searching": true,
                "order": [[3, "desc"]]
            });
        });
    </script>
</body>
</html>
