<!DOCTYPE html>
<html>
<head>
    <title>Email Clustering Results</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Email Clustering Results</h1>
    <a href="{{ url_for('rename_clusters') }}">Rename Clusters</a> |
    <a href="{{ url_for('authors') }}">View Authors</a>
    <h2>3D Scatter Plot of Clusters</h2>
    <div id="plotly-div"></div>
    <script type="text/javascript">
        var plotly_data = {{ fig_json | safe }};
        Plotly.newPlot('plotly-div', plotly_data.data, plotly_data.layout);
    </script>
</body>
</html>
