<!DOCTYPE html>
<html>
<head>
    <title>Résultat Emails Catégorisation</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Résultat Emails Catégorisation</h1>
    <a href="{{ url_for('clusters') }}">Voir Catégories</a> |
    <a href="{{ url_for('authors') }}">Voir Auteurs</a>
    <h2>Visualisation 3D</h2>
    <div id="plotly-div"></div>
    <script type="text/javascript">
        var plotly_data = {{ fig_json | safe }};
        Plotly.newPlot('plotly-div', plotly_data.data, plotly_data.layout);
    </script>
</body>
</html>
